streamlit>=1.32.0
streamlit-ketcher>=0.0.1
plotly>=5.18.0
pandas>=2.0.0
numpy>=1.24.0
requests>=2.31.0
scipy>=1.11.0
scikit-learn>=1.3.0
pymbar>=4.0.3
pyquaternion>=0.9.9
py3Dmol>=2.0.0
dimorphite-dl>=2.0.2
pkapredict>=0.1.0
parmed>=4.0.0
deeptime>=0.4.4
cftime>=1.6.0
